#!/usr/bin/env bash
DNS_PROJECT="projcet-id"
GAE_PROJECT="project-id"
CERT_ID=`gcloud beta app --project $GAE_PROJECT ssl-certificates list | awk 'NR==2 {print $1}'`
CERT_NAME="letsencrypt-auto`date "+%Y%m%d"`"
TARGET_DOMAIN="app.example.com"
ZONE_NAME="app-example-com"
ACME_TTL=60
SLEEP_SECOND=60
. ./hooks/gae.base
