#!/usr/bin/env bash
DNS_PROJECT="project_id"
LB_PROJECT="project_id"
# zone name on cloud DNS must be converted from domain dot(.) to dash(-)
# etc if domain is "www.example.com"  when zone name must be "www-example-com"
TARGET_DOMAINS=("www.example.com" "example.com")

# You can choice "NAME" form "gcloud beta compute target-https-proxies list"
HTTPS_PROXY="target-https-proxy-name"
CERT_NAME="auto-`date "+%Y%m%d%H%M"`"

SLEEP_SECONDS=60
. ./hooks/httpslb.base
